.header{
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 92px 50px;
}
.header__logo-image{
  width: 100%;
}
.header__links-list{
  display: flex;
}
.header__logo {
  display: block;
  width: 78px;
  height: 100px;
  background-color: pink;
}